<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ras Kucing</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">

  <!-- Header -->
<header class="bg-cover bg-center py-6" style="background-image: url('../static/images/gambar2.jpg')">
    <div class="container mx-auto px-4">
      <h1 class="text-2xl font-bold text-white">Klasifikasi Ras Kucing</h1>
     <!-- Navigasi -->
<nav class="mt-2">
    <ul class="flex space-x-4">
      <li><a href="#" class="text-gray-900 hover:text-white">Beranda</a></li>
      <li><a href="#" class="text-gray-900 hover:text-white">Tentang</a></li>
      <li><a href="#" class="text-gray-900 hover:text-white">Ras Kucing</a></li>
      <li><a href="#" class="text-gray-900 hover:text-white">Artikel</a></li>
      <li><a href="#" class="text-gray-900 hover:text-white">Kontak</a></li>
    </ul>
  </nav>
  
    </div>
  </header>

  <!-- Banner Utama -->
<section class="bg-gradient-to-r from-green-400 to-blue-500 py-20 text-center">
  <div class="container">
    <div class="container mx-auto px-4">
        <h2 class="text-2xl font-bold mb-4">Upload Gambar Kucing</h2>
        <form action="/" method="post" enctype="multipart/form-data" class="flex flex-col items-center">
            <input type="file" name="file" id="file" class="py-2 px-4 border border-gray-300 rounded-md mb-4">
            <button type="submit" class="py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600">Upload and Predict</button>
        </form>
    </div>
    
    {% if label %}
    <div class="flex flex-col items-center">
        <h2 class="mb-4 font-bold">Predicted Label: {{ label }}</h2>
        <img src="{{ url_for('static', filename='uploads/' + img_filename) }}" alt="Uploaded Image" class="mx-auto">
    </div>
{% endif %}

</section>


  <!-- Bagian Klasifikasi Ras Kucing -->
  <section class="py-16">
    <div class="container mx-auto px-4">
      <h2 class="text-2xl font-bold text-gray-800 mb-8">Contoh Ras Kucing</h2>
      <!-- Kontainer dengan scroll horizontal -->
      <div class="scroll-container flex overflow-x-auto space-x-4 w-full">
       <!-- Item ras kucing -->
       <div class="bg-white rounded-lg shadow-md overflow-hidden flex-shrink-0 w-80">
        <img src="../static/images/gambar3.jpg" alt="Ras Kucing 1" class="w-full h-64  object-cover object-center">
        <div class="p-4">
          <h3 class="text-lg font-semibold text-gray-800">Persian</h3>
          <p class="text-gray-600">Berasal dari Iran dan telah menjadi sangat populer di seluruh dunia, terutama karena bulu panjang dan wajah datarnya yang khas.</p>
          <a href="#" class="block mt-2 text-blue-500 hover:text-blue-600">Pelajari lebih lanjut</a>
        </div>
      </div>
      <!-- Item ras kucing lainnya -->
      <div class="bg-white rounded-lg shadow-md overflow-hidden flex-shrink-0 w-80">
        <img src="../static/images/gambar4.jpg" alt="Ras Kucing 2" class="w-full h-64 object-cover object-center">
        <div class="p-4">
          <h3 class="text-lg font-semibold text-gray-800">Munchkin</h3>
          <p class="text-gray-600">Berasal dari Amerika Serikat,  Kucing ini mendapatkan namanya dan popularitasnya pada tahun 1990-an. Meskipun mutasi genetik yang menghasilkan kaki pendek telah ada di berbagai belahan dunia.</p>
          <a href="#" class="block mt-2 text-blue-500 hover:text-blue-600">Pelajari lebih lanjut</a>
        </div>
      </div>
      <!-- Item ras kucing lainnya -->
      <div class="bg-white rounded-lg shadow-md overflow-hidden flex-shrink-0 w-80">
        <img src="../static/images/gambar5.jpg" alt="Ras Kucing 3" class="w-full h-64 object-cover object-center">
        <div class="p-4">
          <h3 class="text-lg font-semibold text-gray-800">Abyissian</h3>
          <p class="text-gray-600">Berasal dari Abyssinia sekarang Ethiopia, Kucing ini diyakini sebagai salah satu ras kucing domestik tertua.</p>
          <a href="#" class="block mt-2 text-blue-500 hover:text-blue-600">Pelajari lebih lanjut</a>
        </div>
      </div>
      <!-- Item ras kucing lainnya -->
      <div class="bg-white rounded-lg shadow-md overflow-hidden flex-shrink-0 w-80">
        <img src="../static/images/gambar6.jpg" alt="Ras Kucing 4" class="w-full h-64 object-cover object-center">
        <div class="p-4">
          <h3 class="text-lg font-semibold text-gray-800">Bengal</h3>
          <p class="text-gray-600">Berasal dari Amerika Serikat, Ras ini diciptakan pada tahun 1970-an dengan mengawinkan kucing domestik dengan kucing macan tutul Asia. Hasilnya adalah kucing dengan pola bulu seperti macan tutul yang eksotis.</p>
          <a href="#" class="block mt-2 text-blue-500 hover:text-blue-600">Pelajari lebih lanjut</a>
        </div>
      </div>
      <!-- Item ras kucing lainnya -->
      <div class="bg-white rounded-lg shadow-md overflow-hidden flex-shrink-0 w-80">
        <img src="../static/images/gambar7.jpeg" alt="Ras Kucing 5" class="w-full h-64 object-cover object-center">
        <div class="p-4">
          <h3 class="text-lg font-semibold text-gray-800">Birman</h3>
          <p class="text-gray-600">Berasal dari Myanmar, Kucing ini pertama kali diperkenalkan ke Prancis pada awal abad ke-20. Mereka dikenal karena bulu semi-panjang dan mata birunya yang mencolok.</p>
          <a href="#" class="block mt-2 text-blue-500 hover:text-blue-600">Pelajari lebih lanjut</a>
        </div>
      </div>
      <!-- Item ras kucing lainnya -->
      <div class="bg-white rounded-lg shadow-md overflow-hidden flex-shrink-0 w-80">
        <img src="../static/images/gambar9.jpeg" alt="Ras Kucing 6" class="w-full h-64 object-cover object-center">
        <div class="p-4">
          <h3 class="text-lg font-semibold text-gray-800">British Shorthair</h3>
          <p class="text-gray-600">Berasal dari Inggris, Salah satu ras kucing domestik tertua di Inggris. British Shorthair, telah ada selama berabad-abad. Mereka dikenal karena tubuh kekar dan bulu pendek yang tebal.</p>
          <a href="#" class="block mt-2 text-blue-500 hover:text-blue-600">Pelajari lebih lanjut</a>
        </div>
      </div>
      <!-- Item ras kucing lainnya -->
      <div class="bg-white rounded-lg shadow-md overflow-hidden flex-shrink-0 w-80">
        <img src="../static/images/gambar10.jpeg" alt="Ras Kucing 6" class="w-full h-64 object-cover object-center">
        <div class="p-4">
          <h3 class="text-lg font-semibold text-gray-800">Egyptian Mau</h3>
          <p class="text-gray-600">Berasal dari Mesir, Kucing ini memiliki sejarah panjang yang dapat ditelusuri kembali ke zaman Mesir Kuno. Mereka dikenal karena bulu mereka yang bertutul alami.</p>
          <a href="#" class="block mt-2 text-blue-500 hover:text-blue-600">Pelajari lebih lanjut</a>
        </div>
      </div>
      <!-- Item ras kucing lainnya -->
      <div class="bg-white rounded-lg shadow-md overflow-hidden flex-shrink-0 w-80">
        <img src="../static/images/gambar11.jpg" alt="Ras Kucing 6" class="w-full h-64 object-cover object-center">
        <div class="p-4">
          <h3 class="text-lg font-semibold text-gray-800">Maine Coon</h3>
          <p class="text-gray-600">Berasal dari Amerika Serikat, khususnya di negara bagian Maine. Salah satu ras kucing domestik terbesar, Mereka dikenal karena bulu panjang dan ekor lebat mereka.</p>
          <a href="#" class="block mt-2 text-blue-500 hover:text-blue-600">Pelajari lebih lanjut</a>
        </div>
      </div>

      </div>
    </div>
  </section>

  <!-- Bagian Tentang Kami -->
  <section class="bg-gray-100 py-16">
    <div class="container mx-auto px-4">
      <h2 class="text-2xl font-bold text-gray-800 mb-8">Tentang Kami</h2>
      <p class="text-gray-600">Kami berkomitmen untuk menjadi sumber pengetahuan terpercaya bagi pecinta kucing, membantu Anda memahami karakteristik, kebutuhan, dan sejarah dari setiap ras kucing.</p>
    </div>
  </section>

  <!-- Bagian Kontak -->
  <section class="py-16 bg-gray-200">
    <div class="container mx-auto px-4">
      <h2 class="text-2xl font-bold text-gray-800 mb-8">Kontak</h2>
      <p class="text-gray-600">Jika Anda memiliki pertanyaan, saran, atau masukan, Anda dapat mengirimkan email kepada kami</p>
      <!-- Formulir kontak -->
      <form class="mt-8">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
          <input type="text" placeholder="Nama Anda" class="w-full bg-white border border-gray-300 px-4 py-2 rounded-lg focus:outline-none focus:border-blue-500">
          <input type="email" placeholder="Email Anda" class="w-full bg-white border border-gray-300 px-4 py-2 rounded-lg focus:outline-none focus:border-blue-500">
        </div>
        <textarea class="w-full mt-4 bg-white border border-gray-300 px-4 py-2 rounded-lg focus:outline-none focus:border-blue-500" rows="6" placeholder="Pesan Anda"></textarea>
        <button type="submit" class="mt-4 bg-blue-500 text-white px-6 py-3 rounded-lg font-semibold hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Kirim Pesan</button>
      </form>
   
